@charset "UTF-8";
body{
    background: #000140;
    background-image: url("imagens/pptpng.png");
}
header{
    font: normal bold 20pt Arial;
    text-align: center;
    /* border: 5px solid black; */
    width: 300px;
    height: 80px;
    margin: 0 auto;
}
h2{
    color: #fff;
    text-shadow: 3px 3px 3px #000;
}
section{
    background: rgba(255,255,255, 0.8);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    max-width: 600px;
    border-radius: 10px;
    border: 5px solid black;
    box-shadow: rgba(0, 0, 0, .075) 0.075rem .125rem .25rem;
    padding: 10px;
    margin: 0 auto;
    /* margin-top: 15px; */
    row-gap: 10px;
}
div#placares{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
#placares div{
    background: #006fa6;
    border-radius: 10px;
    flex-basis: 40%;
    text-align: center;
}
#placares div p{
    color: #fff;
    text-shadow: rgba(0, 0, 0, .075) 0.075rem .125rem .25rem;
    font: normal bold 10.15pt Arial;
}
#placares div label{
    font: normal bold 20pt 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div#botoes {
    text-align: center;
}
input{
    outline-style: none;
    width: 100px;
    height: 100px;
}
.pedra{
    background-image: url("imagens/zpedra.png");
    background-position: center;
    background-repeat: no-repeat;
}
.papel{
    background-image: url("imagens/zpapel.png");
    background-position: center;
    background-repeat: no-repeat;
}
.tesoura{
    background-image: url("imagens/ztesoura.png");
    background-position: center;
    background-repeat: no-repeat;
}

#jogo div.resultado{
    background: #555555;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 400px;
    height: 120px;
    margin: 0 auto;
    align-items: center;
    gap: 10px;
}
.resultado div:nth-child(n){
    text-align: center;
}
label#result{
    text-transform: uppercase;
    font: normal bold 18pt 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}